# This file is managed by ansible, don't make changes here - they will be overwritten.

# GRE Tunnel zwischen BGP VMs
# - Die Konfigurationsdaten werden vorher vergeben und zugewiesen
# Regex gegen ipaddr('address') austauschen sobald /31 damit funktioniert
{% for gre in internal_gre %}

# GRE Tunnel to int_{{gre.name}} ({{gre.v4_local | regex_replace("^(\d+\.\d+\.\d+\.\d+)/\d+$","\\1") }})
auto int_{{gre.name}}
iface int_{{gre.name}} inet static
        address {{gre.v4_local | regex_replace("^(\d+\.\d+\.\d+\.\d+)/\d+$","\\1") }}
        netmask {{gre.v4_local | ipaddr('netmask')}}
        #GRE Tunnel über v4, wenn möglich immer v6 nutzen, für v4 müsste gre_target wieder geändert werden
        #pre-up ip tunnel add $IFACE mode gre local {{ansible_default_ipv4.address}} remote {{gre.gre_target | ipaddr('address') }} ttl 255
        pre-up ip -6 tunnel add $IFACE mode ip6gre remote {{gre.gre_target | ipaddr('address') }} local {{ansible_default_ipv6.address}} ttl 255
        post-up ip link set $IFACE mtu 1400
        post-down ip tunnel del $IFACE

iface int_{{gre.name}} inet6 static
        address {{gre.v6_local | ipaddr('address')}}
        netmask {{gre.v6_local | ipaddr('prefix')}}
        post-up ip address add {{gre.v6_linklocal | ipaddr}} dev $IFACE
        post-down ip address del {{gre.v6_linklocal | ipaddr}} dev $IFACE

{% endfor %}
