# This file is managed by ansible, don't make changes here - they will be overwritten.

auto br_ffwp
iface br_ffwp inet6 static
        bridge-ports none
        address  {{ [ff_network_v6_ula_prefix, interface_br_ffwp.v6_suffix] | join | ipaddr ('address')}}
        netmask  {{ [ff_network_v6_ula_prefix, interface_br_ffwp.v6_suffix] | join | ipaddr ('prefix')}}
        post-up ip -6 address add {{ [ff_network_v6_public_prefix, interface_br_ffwp.v6_suffix] | join | ipaddr }} dev $IFACE
        post-down ip -6 address del {{ [ff_network_v6_public_prefix, interface_br_ffwp.v6_suffix] | join | ipaddr }} dev $IFACE
        {% if interface_br_ffwp.v6_extra is defined -%}
        post-up ip -6 address add {{ interface_br_ffwp.v6_extra | ipaddr }} dev $IFACE
        post-down ip -6 address del {{ interface_br_ffwp.v6_extra | ipaddr }} dev $IFACE
        {% endif %}

iface br_ffwp inet static
        address {{interface_br_ffwp.v4_network | ipaddr ('address')}}
        netmask {{interface_br_ffwp.v4_network | ipaddr ('netmask')}}
        post-up brctl addif $IFACE bat0
        post-up ip link set $IFACE address {{ batman.mac }}
        pre-down brctl delif $IFACE bat0
