# This file is managed by ansible, don't make changes here - they will be overwritten.

# direkt angebundene Gateways die auf dem selben Host laufen
# - Die Konfigurationsdaten werden vorher vergeben und zugewiesen
# Regex gegen ipaddr('address') austauschen sobald /31 damit funktioniert
{% for direct in interfaces_direct %}

auto {{direct.interface}}
iface {{direct.interface}} inet static
        address {{direct.v4_network | regex_replace("^(\d+\.\d+\.\d+\.\d+)/\d+$","\\1") }}
        netmask {{direct.v4_network| ipaddr('netmask')}}
        post-up ip link set $IFACE mtu 1400

iface {{direct.interface}} inet6 static
        address {{direct.v6_network | ipaddr('address')}}
        netmask {{direct.v6_network | ipaddr('prefix')}}

{% endfor %}
