# This file is managed by ansible, don't make changes here - they will be overwritten.

allow-hotplug bat0
iface bat0 inet6 manual
        post-up ip link set $IFACE address {{ batman.mac }}
        post-up brctl addif br_ffwp $IFACE
        post-up batctl -m $IFACE it 10000
        post-up batctl -m $IFACE dat 1
        {% if batman.gateway -%}
        post-up batctl -m $IFACE gw server {{batman.bandwidth}}
        {% endif -%}
        post-up echo 120 > /sys/class/net/$IFACE/mesh/hop_penalty
        #post-up systemctl start alfred.service
        pre-down brctl delif br_ffwp $IFACE || true
        down ip link set $IFACE down
